.pop{
    display: none;
   
}
.show{
display: block;
position: fixed; /* Stay in place */
z-index: 2; /* Sit on top */
right:50vw;
top: 0;
background-color: aliceblue;
-webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-30px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-30px; opacity:0}
    to {top:0; opacity:1}
  }