.pop{
    display: none;
   
}
.show{
display: block;
position: fixed; /* Stay in place */
min-width: 250px;
height: 50px;
text-align: center;
z-index: 2; /* Sit on top */
right:0px;
top: 50px;
background-color: aliceblue;
-webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {right:-250px; opacity:0} 
    to {right:0px; opacity:1}
  }
  
  @keyframes animatetop {
    from {right:-250px; opacity:0} 
    to {right:0px; opacity:1}
  }