.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 5px;
}
.ascDesc{
  margin-bottom: 20px;
  border-radius: 5px;
 
}
.optAscDesc{
    padding: 25px 20px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    max-height: 223px;
    background: #fff;
}
.listOfQoutes{
   width: 100%;
}
.newQouteButton.button{
    color: rgb(59, 59, 59);
    text-transform: none;
    border: 2px solid rgb(255, 255, 255);
    box-sizing: border-box;
   
}
.newQouteButton.button:hover{
color: rgb(93, 87, 114);
background-color: #fff;
border-bottom:2px solid rgb(93, 87, 114);
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}